#!/usr/bin/make -f
export PYBUILD_NAME=hifiberry-auth
# tests need flask/argon2 which aren't in the minimal build chroot; run via pytest in dev
export PYBUILD_DISABLE=test

%:
	dh $@ --buildsystem=pybuild
